{% extends '_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Sign Up' %}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">{% translate 'Sign Up' %}</h4>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-outline-book color-book">
                                {% translate 'Sign Up' context 'Button to confirm sign up action' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}