{% load i18n %}

{% if book.bookinventory.inventory_status_code == 'pre_order' %}
    <a class="btn btn-outline-book color-book" href="#" role="button">
        {% translate 'Pre-order' context 'A button to perform an action' %}
    </a>
{% endif %}

{% if book.bookinventory.inventory_status_code == 'in_stock' and book_price %}
    <form hx-post="{% url 'add_to_cart' book.slug %}" class="d-grid">
        {% csrf_token %}
        <button class="btn btn-outline-book color-book">{% translate 'Add to basket' %}</button>
    </form>
{% endif %}